@font-face {
  font-family: "iconfont"; /* Project id 3820380 */
  src:
    url('../font/iconfont.woff2') format('woff2'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
  content: "\e601";
}

.icon-wikipedia:before {
  content: "\e602";
}

.icon-baidu:before {
  content: "\e603";
}

.icon-cheveron-right:before {
  content: "\e604";
}

.icon-bing:before {
  content: "\e605";
}
