@font-face {
  font-family: "iconfont-coloru"; /* Project id 3822871 */
  /* Color fonts */
  src: 
    url('../font/iconfont-coloru.woff2') format('woff2'),
    url('../font/iconfont-coloru.woff') format('woff'),
    url('../font/iconfont-coloru.ttf') format('truetype');
}

.iconfont-coloru {
  font-family: "iconfont-coloru" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cl-qiuwenbaike:before {
  content: "\e608";
}

.icon-cl-bing:before {
  content: "\e802";
}

.icon-cl-google:before {
  content: "\e803";
}

.icon-cl-wikipedia:before {
  content: "\e804";
}

.icon-cl-baidu:before {
  content: "\e805";
}


/* 暗色模式 */
@media (prefers-color-scheme: dark) {
  .vue-app[scheme=auto] .icon-cl-qiuwenbaike:before {
    content: "\e60c";
  }

  .vue-app[scheme=auto] .icon-cl-wikipedia:before {
    content: "\e60d";
  }

  .vue-app[scheme=auto] .icon-cl-baidu:before {
    filter: brightness(200%);
  }
}



/******** 强制暗色模式 ********/

.vue-app[scheme=dark] .icon-cl-qiuwenbaike:before {
  content: "\e60c";
}

.vue-app[scheme=dark] .icon-cl-wikipedia:before {
  content: "\e60d";
}

.vue-app[scheme=dark] .icon-cl-baidu:before {
  filter: brightness(200%);
}
